.c-container-space__title {
  padding-top: 1rem;
}

.c-container-space__description {
  color: map-get($colors, 'color-paragraph');
  font-size: 1.1rem;
  font-weight: map-get($font-weight, 'light');
  letter-spacing: 0.02em;
  line-height: 2rem;
  max-width: 600px;
  padding-bottom: 2.5rem;
  text-align: center;
}
