.c-container-space {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
 
}

.c-container-space__title {
  padding-top: 1rem;
  text-align: center;
}

.c-container-space__description {
  color: map-get($colors, 'color-paragraph');
  font-size: 1.1rem;
  font-weight: map-get($font-weight, 'light');
  letter-spacing: 0.02em;
  line-height: 2rem;
  max-width: 700px;
  padding-bottom: 2.5rem;
  text-align: center;
  width: auto;
}
