.c-page-header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 2rem;
  padding-top: 2rem;

  &__title {
    color: map-get($colors, 'page-title-color');
    font-size: 3rem;
    font-weight: map-get($font-weight, 'regular');
    letter-spacing: 1rem;
    padding-bottom: 3rem;
    padding-right: 2rem;
    position: relative;

    @include breakpoint(small-only) {
      font-size: 2rem;
      padding-bottom: 1rem;
    }
  }

  &__description {
    color: map-get($colors, 'color-paragraph');
    font-weight: map-get($font-weight, 'regular');
    letter-spacing: 0.02em;
    line-height: 2rem;
    max-width: 650px;
    padding-top: 2rem;
    text-align: center;
    font-size: 1.3rem;

    @include breakpoint(small-only) {
      font-size: 1.1rem;
      padding-top: 1rem;
      max-width: 80%;
    }

    &::after,
    &::before {
      content: '';
      background: linear-gradient(
        to left bottom,
        #6952e0,
        #496ced,
        #2081f5,
        #0094f8,
        #00a5f7,
        #00b2f9,
        #00bff9,
        #23cbf8,
        #1dd8f9,
        #2ce4f8,
        #44f0f5,
        #5ffbf1
      );
      display: block;
      height: 1px;
      margin-top: 1.5rem;
      width: 20%;

      @include breakpoint(small-only) {
        width: 40%;
      }
    }

    &::before {
      margin-bottom: 1.5rem;
      margin-left: 31rem;

      @include breakpoint(small-only) {
        margin-left: 10rem;
      }
    }
  }
}

.c-letter__O,
.c-letter__S {
  color: map-get($colors, 'primary-color');
  font-size: 4rem;
  font-weight: map-get($font-weight, bold);
  padding-bottom: 2rem;

  @include breakpoint(small-only) {
    font-size: 3rem;
    padding-bottom: 1rem;
  }
}

.c-spacing {
  padding-left: 5rem;
}

.c-logo-planet {
  width: 5.5rem;
  margin-bottom: 2rem;

  @include breakpoint(small-only) {
    width: 4.5rem;
  }
}
