.c-space-title {
  color: map-get($colors, 'color-secondary-title');
  font-size: 2.1rem;
  font-weight: map-get($font-weight, ' regular');
  letter-spacing: 0.05em;
  padding-bottom: 1rem;

  &::after {
    content: '';
    height: 2px;
    width: 6rem;
    background: linear-gradient(
      to left,
      #2579e2,
      #3471e4,
      #4668e4,
      #575ee3,
      #6952e0
    );
    display: block;
    margin-top: 1rem;
    text-align: center;
  }
}