.c-about-space {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.c-about-space__image {
  background-position: center;
  background-size: cover;
  max-height: 56%;
  padding-bottom: 5%;
  width: 40rem;
}

.c-about-space__video {
  height: 31.25rem;
  max-height: 56%;
  padding-bottom: 5%;
  width: 40rem;
}

.c-about-space__figcaption {
  color: map-get($colors, 'page-title-color');
  font-size: 1.5rem;
  font-weight: map-get($font-weight, 'regular');
  padding-bottom: 2rem;
  text-align: center;
}

.c-about-space__date {
  padding-bottom: 2rem;
}

.c-about-space__label {
  color: map-get($colors, 'page-title-color');
  font-size: 1.4rem;
  font-weight: map-get($font-weight, 'regular');
  margin-right: 2rem;
}

.c-about-space__input {
  background-color: map-get($colors, 'secondary-color');
  border-radius: 4px;
  border: 2px solid map-get($colors, 'light-gray-color');
  font-family: inherit;
  font-size: 1rem;
  padding: 0.25em 0.5em;
  transition: 180ms box-shadow ease-in-out;

  &:focus {
    border-color: map-get($colors, 'page-title-color');
    outline: 3px solid transparent;
  }
}
